* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
}
#home-page{
    height: 100%;
    background-image: url(../felix-mittermeier-Knwea-mLGAg-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: auto;
}

.main-title {
    text-align: center;
    margin-top: 0;
    padding-top: 20px; 
    color: white; 
}
.add-projectBtn {
    width: 1.5em;
    height: 1.5em;
    margin-left: calc(50% - 1em);
    margin-top: 20px;
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 50%; 
    font-size: 3em; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.add-projectBtn:hover {
    background-color: #0056b3; 
}


.home-section {
    width: 100%;
    height: calc(100% - 170px); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.edit-link{
    position: absolute;
    top: 5%;
    right: 1px;
    width: 1em;
    height: 1em;
    display: inline-block;
    background-image: url(../pencil.svg);
    background-size: cover;
}

.project-container {
    position: relative;
    width: calc(50% - 3vw); 
    max-width: 150px; 
    max-height: 150px; 
    height: 8em; 
    padding: 5px;
    background-color: #64748b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1.5vw; 
    transition: transform 0.1s ease-out;
}



.project-container:hover {
    transform: scale(1.05);
}
.delete-projectBtn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.delete-projectBtn:hover {
    background-color: #ff3333;
}

.add-project-button {
    width: clamp(150px, 30%, 300px); 
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px; 
    font-size: clamp(14px, 2vw, 20px); 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-project-button:hover {
    background-color: #0056b3; 
}

/* Style for todo items */
.todo-item {
    width: 85%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item p {
    margin: 0;
    flex-grow: 1;
    margin-right: 10px;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Style for todo page */
.item-container {
    padding: 20px;
}

.todo-button,
.back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.todo-button:hover,
.back-button:hover {
    background-color: #0056b3;
}
.backBtn, .add-toDo {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5em 0.5em; 
    border-radius: 0.5em; 
    cursor: pointer;
    margin: 1em; 
    font-size: 1em; 
    transition: background-color 0.3s ease;
}

.backBtn:hover, .add-toDo:hover {
    background-color: #0056b3;
}


.item-container {
    width: 100%; 
    padding: 20px;
    background-color: inherit;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 20px;
    overflow: auto;
}


.item-title {
    text-decoration: underline;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.item-description {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

#dueDate,#priority,#description,#notes{
    font-size: 1.5em;
}
#description{
    width: 90%;
    height: 20vh;
    border: 1px solid #666;
}

#notes {
    width: 90%;
    height: 40vh;
    padding: 10px;
    color: #334155;
    border: 1px solid #737373; 
    text-align: center;
}


.back-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 2vh;
}

.back-button:hover {
    background-color: #0056b3;
}
.checkbox{
    margin-right: 1em;
}

